In [39]:
from sklearn.datasets import load_iris
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import LinearSVC
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.pipeline import make_pipeline

In [40]:
# siapkan data
iris = load_iris()
X, y = iris.data, iris.target

# split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=46)

In [41]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [42]:
# preprocessing
scaler = StandardScaler()
scaler.fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [43]:
# modelling
svm = LinearSVC()
svm.fit(X_train_scaled, y_train)

# eval
y_pred = svm.predict(X_test_scaled)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        12
           1       0.88      0.78      0.82         9
           2       0.80      0.89      0.84         9

    accuracy                           0.90        30
   macro avg       0.89      0.89      0.89        30
weighted avg       0.90      0.90      0.90        30

In [44]:
# inference
new_data = [2, 5, 10, 3]
new_data_scaled = scaler.transform([new_data])

res = svm.predict(new_data_scaled)
iris.target_names[res[0]]

'virginica'

In [45]:
# simpan sesuatu yang memiliki metode fit
import pickle

# scaler
f = open("scaler.pkl", "wb")
pickle.dump(scaler, f)
f.close()

In [46]:
# model
with open("model.pkl", "wb") as model_file:
    pickle.dump(svm, model_file)

In [47]:
from sklearn.svm import LinearSVC
pipeline1 = make_pipeline(StandardScaler(),
                         LinearSVC())
pipeline1.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('linearsvc', LinearSVC())])

In [48]:
y_pred = pipeline1.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        12
           1       0.88      0.78      0.82         9
           2       0.80      0.89      0.84         9

    accuracy                           0.90        30
   macro avg       0.89      0.89      0.89        30
weighted avg       0.90      0.90      0.90        30

In [49]:
new_data = [2,5,10,3]
res = pipeline1.predict([new_data])
iris.target_names[res[0]]

'virginica'

In [12]:
# simpan sesuatu yang memiliki metode fit
import pickle

# scaler
f = open("scaler.pkl", "wb")
pickle.dump(scaler, f)
f.close()

In [13]:
# model
with open("model.pkl", "wb") as model_file:
    pickle.dump(svm, model_file)

In [14]:
from sklearn.svm import LinearSVC
pipeline = make_pipeline(StandardScaler(),
                         LinearSVC())
pipeline.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('linearsvc', LinearSVC())])

In [37]:
# simpan final pipeline
with open("pipe_iris1.pkl", "wb") as model_file:
    pickle.dump(pipeline1, model_file)

In [15]:
y_pred = pipeline.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        12
           1       0.88      0.78      0.82         9
           2       0.80      0.89      0.84         9

    accuracy                           0.90        30
   macro avg       0.89      0.89      0.89        30
weighted avg       0.90      0.90      0.90        30

### Mixed Data Types

In [16]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/afifai/pelatihan_machinelearning/master/data/train.csv", index_col=0)
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [18]:
df.drop(['Name', 'Ticket', 'Cabin', 'Embarked'], axis=1, inplace=True)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int64(4), object(1)
memory usage: 55.7+ KB

In [20]:
X = df.drop('Survived', axis=1)
y = df['Survived']

In [21]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=46)

In [22]:
X_train

             Pclass     Sex   Age  SibSp  Parch     Fare
PassengerId
426               3    male   NaN      0      0   7.2500
107               3  female  21.0      0      0   7.6500
823               1    male  38.0      0      0   0.0000
332               1    male  45.5      0      0  28.5000
108               3    male   NaN      0      0   7.7750
...             ...     ...   ...    ...    ...      ...
443               3    male  25.0      1      0   7.7750
373               3    male  19.0      0      0   8.0500
553               3    male   NaN      0      0   7.8292
838               3    male   NaN      0      0   8.0500
190               3    male  36.0      0      0   7.8958

[712 rows x 6 columns]

In [23]:
num_col = ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']
cat_col = ['Sex']

In [24]:
# imputasi (num)
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='median')

#data training
titanic_num_train = X_train[num_col]
titanic_num_train = imputer.fit_transform(titanic_num_train)

# data testing
titanic_num_test = X_test[num_col]
titanic_num_test = imputer.transform(titanic_num_test)

In [25]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

#data training
titanic_num_train = scaler.fit_transform(titanic_num_train)

# data testing
titanic_num_test = scaler.transform(titanic_num_test)

In [26]:
from sklearn.preprocessing import OneHotEncoder
le = OneHotEncoder()

titanic_cat_train = le.fit_transform(X_train[cat_col])

titanic_cat_test= le.transform(X_test[cat_col])

In [27]:
titanic_cat_test

<179x2 sparse matrix of type '<class 'numpy.float64'>'
	with 179 stored elements in Compressed Sparse Row format>

Dengan Pipeline

In [28]:
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier


num_pipeline = make_pipeline(SimpleImputer(strategy='median'),
                             StandardScaler())

cat_pipeline = make_pipeline(OneHotEncoder())

data_pipeline = ColumnTransformer([
    ('pipe_num', num_pipeline, num_col),
    ('pipe_cat', cat_pipeline, cat_col)
])

# final pipeline
final_pipeline = make_pipeline(data_pipeline, RandomForestClassifier())

In [29]:
from sklearn.metrics import classification_report
# train model
final_pipeline.fit(X_train, y_train)

y_pred = final_pipeline.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.82      0.87      0.84       104
           1       0.80      0.73      0.76        75

    accuracy                           0.81       179
   macro avg       0.81      0.80      0.80       179
weighted avg       0.81      0.81      0.81       179

In [35]:
# simpan final pipeline
with open("pipe_titanic.pkl", "wb") as model_file:
    pickle.dump(final_pipeline, model_file)

In [31]:
X_train

             Pclass     Sex   Age  SibSp  Parch     Fare
PassengerId
426               3    male   NaN      0      0   7.2500
107               3  female  21.0      0      0   7.6500
823               1    male  38.0      0      0   0.0000
332               1    male  45.5      0      0  28.5000
108               3    male   NaN      0      0   7.7750
...             ...     ...   ...    ...    ...      ...
443               3    male  25.0      1      0   7.7750
373               3    male  19.0      0      0   8.0500
553               3    male   NaN      0      0   7.8292
838               3    male   NaN      0      0   8.0500
190               3    male  36.0      0      0   7.8958

[712 rows x 6 columns]

In [32]:
X_train.columns

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [33]:
X_test.head()

             Pclass     Sex   Age  SibSp  Parch     Fare
PassengerId
625               3    male  21.0      0      0  16.1000
698               3  female   NaN      0      0   7.7333
472               3    male  38.0      0      0   8.6625
66                3    male   NaN      1      1  15.2458
180               3    male  36.0      0      0   0.0000

In [34]:
X_test.columns

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')